<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- background img source: https://media.istockphoto.com/id/1071588902/photo/abstract-blurred-gradient-background-in-bright-colors-colorful-smooth-illustration.jpg?b=1&s=170667a&w=0&k=20&c=7xE95vYr-sUKZMS3p-JyM1fheZVQs3DqpoGgc51yamw= -->
        <title>AiM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles.css">
        <!--favicon source: https://media.istockphoto.com/id/1071588902/photo/abstract-blurred-gradient-background-in-bright-colors-colorful-smooth-illustration.jpg?b=1&s=170667a&w=0&k=20&c=7xE95vYr-sUKZMS3p-JyM1fheZVQs3DqpoGgc51yamw=-->
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous"/>
    </head>
    <body>
        <!--https://www.youtube.com/watch?v=Trxxw4tdaHQ&ab_channel=OnlineTutorials-->
        <!--how to keep img at last mouse position when going to different pages?-->
        <object></object>
            <script src="https://code.jquery.com/jquery-3.6.1.js"> </script>
            <script type ="text/javascript">
                $('object').mousemove(function(e){
                    var moveX = (e.pageX * -1 / 15);
                    var moveY = (e.pageY * -1 / 15);
                    $(this).css('background-position', moveX + 'px ' + moveY + 'px')
                })
            </script>

        <div class="footer">
            <footer>
                <p style="color: black;">Brandon Nguyen (<a target="_blank" rel="noopener noreferrer" href="https://github.com/bxngyn">@bxngyn</a>)</p>
            </footer>
        </div>

    </body>
</html>
